html,
body,
#__next {
  height: 100%;
  background-color: white;
}

#__next {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.h-full {
  height: 100%;
}
